header{
    background-image: url(img/pattern.png);
    background-size: 25%;
    
}

section{
    margin-top: 1%;
    margin-bottom: 1%;
}

footer{
    margin-top: 2%;
}

.logo{
    width: 15%;
    margin-top: 2%;
}

.titolo-articolo{
    font-size: xxx-large;
    margin: 20px 0px 4px;
}

.autore-1{
    color: grey;
    font-size: 110%;  
}

.autore-2{
    color: rgb(44, 211, 223);
}

.data{
    font-size: 90%;
    color: grey;
}

.descrizione-foto{
    font-size: 80%;
}

.testo-importante{
    background-color: yellow;
}

.lista{
    margin-left: -1%;
}

table{
    text-align: left;
    border-spacing: 0;
}

thead{
    background-color: rgb(0, 140, 255);
}

.tr-tipo1{
    background-color: rgb(132, 182, 182);
}

.tr-tipo2{
    background-color: bisque;
}

.t-space{
    width: 20%;
}

.art-cons1{
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;
    padding-bottom: 8%;
    padding-top: 15px;
    padding-left: 10px;

}

.art-cons2{
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;
    padding-bottom: 9%;
    padding-top: 15px;
    padding-left: 10px;

}

.art-constxt{
    color: beige;
    font-size: larger;
}